.menu-section{
    width: 280px;
    border: 10px solid goldenrod;
    padding: 30px;
    margin: 0px;
}

.menu-section-header{
    text-align: left;
    font-size: x-large;
}

.menu-item{
    display: flex;
    align-items: center;
    margin: 10%;
}

.item-name{
    flex:1;
    text-align: left;
}

.item-price{
    flex:1;
    text-align: right;
}

.item-picture{
    flex:0.5;
    width: 30%;
}