@font-face {
    font-family: "ChineseDragon";
    src: local("ChineseDragon"),
      url("./fonts/ChineseDragon.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "TAKOYAKI";
    src: local("TAKOYAKI"),
      url("./fonts/TAKOYAKI.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Harukaze";
    src: local("Harukaze"),
      url("./fonts/Harukaze.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "xing";
    src: local("xing"),
      url("./fonts/xing.ttf") format("truetype");
    font-weight: normal;
  }
.menu-page {
    text-align: center;
    flex-direction: column;
    display: flex;
}

header {
    font-size: 50px;
    align-self: start;
    margin-left: 5%;
    margin-top: 5%;
}

* {
  font-size: 100%;
  font-family: "xing";
 }

